.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
}
html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        background-color: #FFFFFF;
        margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-header {
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
  
}
.nav-block{
    display:flex;
    align-items: center;
    height: 72px;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px ;
}

.logo-studio-top {
    color: #2e2f42;
}
.logo-studio-bottom {
    color: #f4f4fd;
}

.list-nav{
    display: flex;
    gap: 40px;

}
.navigation {
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
   
}
.navigation:hover {
    color: #404bbf;
}
.navigation:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
    margin-left: auto;
}

.link-address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.link-address:hover{
color: #404bbf;
}
.link-address:focus{
color: #404bbf;
}
.section-one {
    display: flex;
    align-items: center;
    background-color: #2e2f42;
    width: 100% ;
    padding: 188px 0;

}
.title {    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0;    
}
.hero-block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 48px;
}
.knopka {
    height: 56px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;  
}
.knopka:hover {
background-color: #404BBF
}
.knopka:focus {
background-color: #404BBF
}
.section-two{
    width: 100%;
    padding: 120px 0;
}
.visually-hidden{
    visibility: hidden;
}
.list-info{
    display: flex;
    justify-content: center;
    gap:24px;
}
.list-li{
    width: calc((100% - 3 * 24px) / 4);
}
.info {   
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.h-three{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px  ;
        
}
.section-three{
    background-color: #F4F4FD;
    width: 100%;
    padding:120px 0;
}
.section-three-list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    margin: 0;
}
.section-three-li{  
    width: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-three-title{
    
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        
}
.proffesion{
        text-align: center;
        font-family: "Roboto",
        sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.info-block-section-three{
    padding: 32px 0;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.info-block-section-four{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.section-four{
    background-color: #fff;
    width: 100%;
    padding: 120px 0;
}
.section-four-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.section-four-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap: 48px;
    list-style: none;
}
.section-four-li{
    width: calc((100% - 2 * 24px) / 3);
    
}
.h-three-section-four{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2e2f42;
    width: 100%;
    padding: 100px 0;   
}
.footer-logo{
    margin-bottom: 16px;
    display: inline-block;
}
.footer-info {
    width: 264px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}